/* @import url(http://fonts.googleapis.com/css?family=Galdeano|Electrolize|Cuprum); */
@font-face {
  font-family: 'Galdeano';
  src: url('/assets/font/Galdeano-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Adobe Caslon Regular';
  src: url('/assets/font/Adobe-Caslon-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Electrolize';
  src: url('/assets/font/Electrolize-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cuprum';
  src: url('/assets/font/Cuprum-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 8px;
	height: 0px
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


body{font-size:14px;word-spacing:1px;margin-left:auto;margin-right:auto;font-family:"Adobe Caslon Regular", "Galdeano","Tahoma","Verdana","Georgia","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;color:#000000;background-color:#ffffff;}
*{padding:0;margin:0;border:none;outline:none;}
a{color:#dd0000;text-decoration:none;}
a:hover{color:#333333;text-decoration:underline;}
li{padding:.1em 0;}
ol,ul{list-style-position:inside;}
ol ul, ul ol, ul ul, ol ol{margin-left:1em;}
#container{width:600px;margin:2em auto;display:block;padding:0 2em;}
.content{font-size:16px;line-height:24px;}
.content h1{padding:.5em 0;}
#tag_cloud{margin-bottom:1em;}
#tag_cloud a:hover{color:#333333 !important;text-decoration:none;}
.listing-item,.listing-seperator{list-style-type:none;}
.listing-item a{padding:.2em 1em;}
.listing-item time{color:#999999;}
.meta{font-size:12px;color:#888;}
.pageNav{font-weight:bold;font-size:17px;}
.pageNavInvalid{font-weight:bold;font-size:17px;color:#D0D0D0;}
header{padding:.5em 0;border-bottom:1px solid #cccccc;}
nav{font-family:"Electrolize","Tahoma","Georgia",sans-serif;font-size:1.1em;text-transform:uppercase;float:left;margin-left:-12em;width:9em;text-align:right;}
nav a{display:block;padding:.7em 1em;color:#000000;}
nav a:hover{background-color:#ff0000;text-decoration:none;color:#f9f9f9;-webkit-transition:color .2s linear;}
.post{padding:.5em 0em;}
h1{font-family:"Adobe Caslon Regular", "Cuprum","Tahoma","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.6em;color:#000;}
h2{font-family:"Adobe Caslon Regular", "Cuprum","Tahoma","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.4em;color:#111;}
h3{font-family:"Adobe Caslon Regular", "Cuprum","Tahoma","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.2em;color:#222;}
h4{font-family:"Adobe Caslon Regular", "Cuprum","Tahoma","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1em;color:#333;}
embed,object,iframe{display:block;margin:4px auto;}
.gist{font-size:12px;line-height:1.6;}
footer{text-align:center;display:block;border-top:1px dashed #CCC;}
footer small{font-size:13px;color:#AAA;}
footer a{color:#888;text-decoration:none;}
footer a:hover{border-bottom:1px dashed #BBB;text-decoration:none;}
.label{font-size:11.25px;font-weight:700;color:#fff;text-transform:uppercase;background-color:#999;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;padding:1px 3px 2px;}
.label-important{background-color:#b94a48;}
.label-warning{background-color:#f89406;}
.label-success{background-color:#468847;}
.label-info{background-color:#3a87ad;}
.paginator{font:14px "Adobe Caslon Regular",Arial,Helvetica,sans-serif;color:#AAA;margin:20px 0;line-height:150%;display:block;}
.paginator a,.paginator span{padding:0 4px;margin:2px;text-decoration:none;}
.paginator .current-page{color:white;background:#ff0000;}
.paginator a:hover{color:white;background:#83BF73;}

/* custom css */
/* ol { padding: .5em 0; } */
/* p {padding: 1em 0 0;} */

/* h1 form { */
/*   float: right; */
/* } */

nav#real_nav{position: fixed;}
h2 {
  margin: 30px 0 0px;
  padding: 4px;
  border-width: 0 0 1px 0;
  border-style: dashed;
  border-radius: 2px;
  border-color: #e1e1e8;
  /* background-color: #d0d0d0; */
}
h3 {
  margin: 30px 0 0px;
  padding: 6px;
  border-width: 1px 0;
  border-style: dashed;
  border-radius: 2px;
  border-color: #e1e1e8;
  background-color: #f7f7f9;
}
h4 {margin: 30px 0 0; }

hr {
  margin: .5em 0;
  border-top:1px dashed #d0d0d0;
  border-bottom:1px dashed #f9f9f9;
}

.listing-seperator {
  font-weight: bold;
  margin: 20px 0 0px;
  padding: 4px;
  /* border-width: 1px ; */
  /* border-style: dashed; */
  /* border-radius: 4px; */
  /* border-color: #e1cc89; */
  /* background-color: #f0f0f0; */
  border-width: 0 0 1px 0;
  border-style: dashed;
  border-radius: 2px;
  border-color: #d0d0d0;
}

.caption {
  font-weight: bold;
  text-align: center;
  margin: 15px 0 0;
}

ol, ul {
  margin: 20px 0 0;
}
p {
  padding: 0;
  margin: 20px 0 0 ;
}

li p {
  margin: 0; 
}

/* blockquote { */
/*   padding: 8px; */
/*   margin: 20px 0 0; */
/*   background-color: #faebbc; */
/*   background-image: url(/assets/images/site/openquote1.gif); */
/*   border-style: solid; */
/*   border-radius: 6px; */
/*   border-color: #e1cc89; */
/*   border-width: 1px; */
/*   background-position: top left; */
/*   background-repeat: no-repeat; */
/* } */
/* blockquote p, blockquote ol { */
/*   background-image: url(/assets/images/site/closequote1.gif); */
/* } */
/* blockquote p{ */
/*   margin: 13px 0; */
/* } */
/* blockquote p, blockquote ol, blockquote h4 { */
/*   display: block; */
/*   padding: 0px 23px; */
/*   background-repeat: no-repeat; */
/*   background-position: bottom right; */
/* } */

blockquote {
  padding: 5px 5px 11px;
  margin: 20px 0 0;
  background-color: #dff0d8;
  border-style: solid;
  border-radius: 6px;
  border-color: #d6e9c6;
  border-width: 1px;
  background-position: top left;
  background-repeat: no-repeat;
}
blockquote hr {
  margin: .5em 0;
  border-top:1px dashed #999;
  border-bottom:1px dashed #f9f9f9;
}
blockquote h4 {
  margin: 6px 0;
  padding: 0 20px;
}
blockquote p, blockquote ol, blockquote ul, blockquote cite {
  margin: 13px 20px 0;
}
blockquote div pre code {
  border: 0px !important;
  margin: 13px 23px 0 !important;
}
blockquote p code,
blockquote ol li code,
blockquote ul li code {
  background-color: #dff0d8;
  border-width: 0;
}

blockquote img {
  max-width: 600px;
  display:block;
  border-width: 0 !important;
  margin: 13 23 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

code{
  padding: 1.5px;
  margin: 0 2px;
  font-family: Menlo,Monaco,Consolas,"Droid Sans Mono","Courier New",monospace;
  font-size: 15px;
  background-color: #f7f7f9;
  border-style: solid;
  border-radius: 4px;
  /* border-color: #e1cc89; */
  border-color: #e1e1e8;
  border-width: 0 1px;
  word-spacing:0px;
}
.highlight pre code {
  margin: 20px 0 0;
  padding: 8px;
  display: block;
  font-size: 13px;
  /* background-color: #faebbc; */
  border-radius: 6px;
  background-position: top left;
  background-repeat: no-repeat;
  overflow:auto;
}

table {
  border-top: 1px solid #e1e1e8;
  border-bottom: 1px solid #e1e1e8;
  margin: 20px 0 0;
  border-radius: 6px;
  border-collapse: collapse;
}
table th {
  padding: 4px 6px;
  margin: 0;
  border-top: 1px solid #e1e1e8;
  border-bottom: 1px solid #e1e1e8;
  border-left: 1px dashed #e1e1e8;
  border-right: 1px dashed #e1e1e8;
  background-color: #f7f7f9;
}
table td {
  padding: 4px 6px;
  margin: 0;
  border: 1px dashed #e1e1e8;
  border-radius: 6px;
}

.content img {
  max-width: 600px;
  display:block;
  margin: 20px auto 0;
  /* border: 1px solid #ddd; */
  /* -webkit-border-radius: 4px; */
  /* -moz-border-radius: 4px; */
  /* border-radius: 4px; */
  /* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075); */
  /* -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075); */
  /* box-shadow: 0 1px 1px rgba(0,0,0,0.075); */
  /* -webkit-box-shadow:#999 1px 1px 4px; */
  /* -moz-box-shadow:#999 1px 1px 4px; */
  /* box-shadow:#999 1px 1px 4px; */
}

table img {
  max-width: 600px;
  display:block;
  border-width: 0 !important;
  margin: 0 auto !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* .image_card { */
/*   /1* max-width: 600px; *1/ */
/*   display:block; */
/*   margin: 20px 0 0; */
/*   /1* padding: 10px 10px 0; *1/ */
/*   border-radius: 10px; */
/*   -webkit-box-shadow:#999 1px 1px 4px; */
/*   -moz-box-shadow:#999 1px 1px 4px; */
/*   box-shadow:#999 1px 1px 4px; */
/* } */

.image_card {
  float: left;
  padding: 4px;
  margin: 20px 0  0;
  line-height: 1;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: 0 1px 1px rgba(0,0,0,0.075);
}
.image_line:after {content: '.'; display: block; height: 0; clear: both; visibility: hidden; }
/* .image_card:after {content: '.'; display: block; height: 0; clear: both; visibility: hidden; } */

.image_card .caption {
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 10px 0 4px;
  border-top: 1px dashed #d0d0d0;
}

.image_card img {
  display: block;
  max-width: 568px;
  margin-right: auto;
  margin-left: auto;
  border-width: 0px;
  margin: 10px !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* .footnotes:before { */
/*   content: '<h2>脚注解</h2>'; */
/* } */
.footnotes ol {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

#ds-recent-visitors .ds-avatar {
  float: left;
}

ol.bibliography li{
  list-style: none;
}

div#LELE_ShowDIV_UNION {
  display: none;
}

