/* .highlight pre code  { margin: 1em; padding: 0 1em } */
.highlight pre code .hll { background-color: #ffffcc }
.highlight pre code  { background: #f8f8f8; line-height: 18px}
.highlight pre code .c { color: #408080; font-style: italic } /* Comment */
.highlight pre code .err { border: 1px solid #FF0000 } /* Error */
.highlight pre code .k { color: #008000; font-weight: bold } /* Keyword */
.highlight pre code .o { color: #666666 } /* Operator */
.highlight pre code .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight pre code .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight pre code .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight pre code .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight pre code .gd { color: #A00000 } /* Generic.Deleted */
.highlight pre code .ge { font-style: italic } /* Generic.Emph */
.highlight pre code .gr { color: #FF0000 } /* Generic.Error */
.highlight pre code .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight pre code .gi { color: #00A000 } /* Generic.Inserted */
.highlight pre code .go { color: #808080 } /* Generic.Output */
.highlight pre code .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight pre code .gs { font-weight: bold } /* Generic.Strong */
.highlight pre code .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight pre code .gt { color: #0040D0 } /* Generic.Traceback */
.highlight pre code .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight pre code .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight pre code .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight pre code .kp { color: #008000 } /* Keyword.Pseudo */
.highlight pre code .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight pre code .kt { color: #B00040 } /* Keyword.Type */
.highlight pre code .m { color: #666666 } /* Literal.Number */
.highlight pre code .s { color: #BA2121 } /* Literal.String */
.highlight pre code .na { color: #7D9029 } /* Name.Attribute */
.highlight pre code .nb { color: #008000 } /* Name.Builtin */
.highlight pre code .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight pre code .no { color: #880000 } /* Name.Constant */
.highlight pre code .nd { color: #AA22FF } /* Name.Decorator */
.highlight pre code .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight pre code .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight pre code .nf { color: #0000FF } /* Name.Function */
.highlight pre code .nl { color: #A0A000 } /* Name.Label */
.highlight pre code .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight pre code .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight pre code .nv { color: #19177C } /* Name.Variable */
.highlight pre code .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight pre code .w { color: #bbbbbb } /* Text.Whitespace */
.highlight pre code .mf { color: #666666 } /* Literal.Number.Float */
.highlight pre code .mh { color: #666666 } /* Literal.Number.Hex */
.highlight pre code .mi { color: #666666 } /* Literal.Number.Integer */
.highlight pre code .mo { color: #666666 } /* Literal.Number.Oct */
.highlight pre code .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight pre code .sc { color: #BA2121 } /* Literal.String.Char */
.highlight pre code .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight pre code .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight pre code .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight pre code .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight pre code .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight pre code .sx { color: #008000 } /* Literal.String.Other */
.highlight pre code .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight pre code .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight pre code .ss { color: #19177C } /* Literal.String.Symbol */
.highlight pre code .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight pre code .vc { color: #19177C } /* Name.Variable.Class */
.highlight pre code .vg { color: #19177C } /* Name.Variable.Global */
.highlight pre code .vi { color: #19177C } /* Name.Variable.Instance */
.highlight pre code .il { color: #666666 } /* Literal.Number.Integer.Long */
