<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include header.html %}
    <div class="page-content">
        <div class="wrapper">
            {{ content }}
        </div>
    </div>
    {% include footer.html %}
    <script type="text/javascript">
        $(window).load(function(){
          $("pre").removeClass("highlight prettyprinted");
          $("pre").addClass("prettyprint linenums");//如果其他地方也要用到pre，我们可以再加一个父标签的选择器来区分
          prettyPrint();//代替body上的onload事件加载该方法
        })
    </script>
</body>

</script>

</html>
